/* estilos genéricos */
.cinza-20{
    background-color:#ccc
   
   }

   .cinza-40{
    background-color:#999
   
   }

   .cinza-60{
    background-color:#666
   
   }

   .cinza-80{
    background-color:#333;
   
   }


/* estilos para o carousel */
.carousel-caption h3, .carousel-caption p{
    text-shadow: 3px 3px 5px #000;
}
.carousel-caption{
    background-color:rgba(75, 63, 63, 0.6);
}
/* estilos para asa seções*/
.titulos{
    width: fit-content;
    border-bottom: 7px rgba(41, 35, 35, 0.76) solid;
    margin: 0 auto;
}

.titulos2{
    width: fit-content;
    color: rgb(255, 253, 253);
    margin: 0 auto;

}


.sombra-card {
    box-shadow:  9px 7px 5px rgba(0, 0, 0, 0.77);

}

.miniatura{
    /* comportamento inline-block que continua semelhante
    a texto porém reconhece margens e dimensões */
    display: inline-block;
    margin: 5px;
}
.miniatura img{
    width: 150px;
}

/* ESTILO PARA A SETA SOBE */
.seta-sobe{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;

    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}
    
    /* rodape da pagina */

    .rodape {
        text-align:center;
        background-color: slategrey;
        color: rgb(0, 0, 0);
    text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.787)
    }

    /*estilos fontes de titulos*/

    #servicos{
        text-align:center; 
        color: black;

    }
    #servicos2{
        text-align:center; 
        color: rgb(255, 255, 255);

    }

    #planos{
        text-align:center;  
    }
    #planos2{
        text-align:center;
        

    }

    #quem-somos{
        text-align: center;
    }

    #contato{
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
    #contato2{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    #portifolio{
        text-align: center;
        color: rgb(0, 0, 0);
    }
    #portifolio2{
        text-align: center;
        color: white;
    }

    #botaoclarear{
        position: center;
        color: rgb(0, 0, 0);
        background-color: rgba(252, 249, 249, 0.644);
        margin-top: 50px;
        margin-left: 75px;
        
    }
    #botaoclarear2{
        position: center;
        color: rgb(255, 255, 255);
        background-color: rgb(5, 5, 5);
        margin-top: 50px;
        margin-left: 75px;
        border-color: transparent;
        
    }

    #frm_cadastro2{
        color: white;
    }